<!DOCTYPE html>
<html>
	<head>
		<title>Zero To Hero w/ Vue</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" />
		<script src="https://unpkg.com/vue@2.2.6"></script>
	</head>
	<body>
		<div id="app" class="container">
			<h1>{{ text }} - Vue Hero Part 1</h1>
			<input type="text" v-model="text" />
			<br>
			<br>
			<br>
			<ul>
				<li v-for="todo of todos">{{ todo.text }}</li>
			</ul>
		</div>
		<script type="text/javascript">
			new Vue({
				el: "#app",
				data: {
					text: 'Hello World',
					todos: [
						{ id: 1, text: 'Pick Up Food'},
						{ id: 2, text: 'Watch Film'},
						{ id: 3, text: 'Learn Vue'},
					]
				}
			})
		</script>
	</body>
</html>